<h1>Users</h1>

<% if @users.length == 0 -%>
There are no shows on file. Create one. 

<% else %>
<div id="usersTable">
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="userslist">
<thead>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Phone</th>
    <th width=250>Last Login</th>
    <th>Provider</th>
    <th width=80>Admin?</th>
    <th width=225>Actions</th>
  </tr>
</thead>
<tbody>
<!-- data -->
</tbody>
</table>
</div>

<script>
$.extend( $.fn.dataTableExt.oStdClasses, {
  "sSortAsc": "header headerSortDown",
  "sSortDesc": "header headerSortUp",
  "sSortable": "header"
} );

$.extend( $.fn.dataTableExt.oStdClasses, {
  "sWrapper": "dataTables_wrapper form-inline"
} );

$(document).ready(function() {
  usersDT = $('#userslist').dataTable( {
      "sDom": "<'row'<'col-6'l><'col-12'f>r>t<'row'<'col-12'i><'col-12'p>>",
      "sAjaxSource": "/users.json",
      "sPaginationType": "bootstrap",
      "iDisplayLength": 30,
      "oLanguage": {
      "sLengthMenu": "Show&nbsp;<select size=1 name=actslist_length aria-controls=\"actslist\"><option value='5'>5</option><option \
value='10'>10</option><option value='15'>15</option><option value='30'>30</option></select>&nbsp;records per page"
    },
     "fnServerData": function ( sSource, aoData, fnCallback ) {
        $.ajax({'datatype':'json',
                'type':'GET',
                'url':sSource,
                'data':aoData,
                'success':function(json) {
                   fnCallback(json);
            }})
     },
     "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
      var id = $('td:eq(6)',nRow).html();
      var content = $('td:eq(6)',nRow).html();
      console.log(content);
      if (content.indexOf("btn") == -1) { 
        $('td:eq(6)', nRow).html('&nbsp;<a class="btn btn-primary btn-sm" href="/users/' + id + '"><i class="glyphicon white glyphicon-eye-open"></i> Show</a>' +
        '&nbsp;<a class="btn btn-danger btn-sm" href="/users/' + id + '" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><i class="glyphicon glyphicon-remove white"></i> Delete</a>');
     }
     }
  });

  var fixHelper = function(e, ui) {
    ui.children().each(function() {
        $(this).width($(this).width());
      });
    return ui;
  };


});

</script>

<% end -%>
