<h3>Welcome to the Hubba Hubba Show Management System</h3>
<p>
	If you're a performer, you can sign in to upload all of the associated content for your act.
</p>
<p>
	Upload images, music, video any anything that we need to make your act go!
</p>