<div class="hero-unit">
  <div class="logocontainer">
    <img src="http://www.hubbahubbarevue.com/wp-content/uploads/headers/header<%=rand(4)+1%>.jpg" style="display: block">
    <span class='logotitle'><%=image_tag "logo.png" %></span>
  </div>
  <br clear=all>
  <h1>Welcome!</h1>
  <p>Welcome to the Hubba Hubba show manager. </p>
  <p>
	If you're a performer, you can sign in to upload all of the associated content for your act.
  </p>
  <p>
	Upload images, music, video any anything that we need to make your act go!
  </p>
  <p>
  </p>
 </div>
</div>

