<header class="jumbotron masthead">
<div class="inner">
  <h1>Hubba Show Manager</h1>
  <p>
    No more CDs. No more mistakes. Simple stage management.
  </p>
  <p class="download-info">
  <% if user_signed_in? == false -%>
  <a href="/users/sign_up" class="button btn-primary btn-large" onclick="window.location('/users/signup');" rel="nofollow">Sign Up</a> 
  <% end %>
  <a href="/passets/new" class="button btn-success btn-large" onclick="window.location('/passets/new');" rel="nofollow">Upload Your Music</a>
  <a href="/acts/new" class="button btn-info btn-large" onclick="window.location('/acts/new');" rel="nofollow">Create an Act</a>
  <h3>It's easy!</h3>
  <P>
  <UL>
    <LI><a href="/users/sign_up">Sign up</a> and create an account to track your music and sets</LI>
    <LI><a href="">Upload</a> your music</LI> 
    <LI><a href="">Create an Act</A> containing your music.
  </UL>
  </p>

</div>
