<div class="hero-unit">
  <div class="logocontainer">
    <img src="http://www.hubbahubbarevue.com/wp-content/uploads/headers/header<%=rand(4)+1%>.jpg" style="display: block">
    <span class='logotitle'><%=image_tag "logo.png" %></span>
  </div>
  <br clear=all>
  <h2>Welcome to the Hubba Hubba show manager. </h2>
  <p>
    The Hubba show manager allows you to upload content for your act
    and for our stage manager and tech team to prepare the show. We'll 
    keep your music around forever (or until you tell us to remove it!) 
    and you'll never have to deal with plastic CD's ever again.
  </p>
  <h3>We're better than CDs!</h3>
  <P>
    You can upload images, music, video in many formats in many files at the same time!
	Upload your <EM>Files</EM>. Create an <EM>Act</EM>.
    Our stage manager adds you to a <EM>Show</EM> and you perform! Everyone wins.
  </p>
  <p>
  </p>
 </div>
</div>

