<script src="/mejs/mediaelement-and-player.min.js"></script>
<% if defined? @adminindex -%>
<h1>Admin: All files, all accounts</h1>
<% else -%>
<h1>Files in Your Account</h1>
<% end -%>
<P>
</p>
<P>
<a href="/passets/new" class="btn btn-primary"><i class="icon-white icon-arrow-up"></i>&nbsp;Upload Additional Files</a>
</P>

<% if @assets.count > 0 -%>
<TABLE CLASS="table table-striped">
<TR>
<% if defined? @adminindex -%>
<TH>Owner</TH>
<% end -%>
<TH WIDTH=200>Preview</TH>
<TH>File</TH>
<TH COLSPAN=2>Actions</TH>
</TR>
<% end -%>
<%= render(@assets) || render("nofiles") %>
</TABLE>

<script>
$(document).ready(function() {
  /* This is basic - uses default settings */
  $("a#single_image").fancybox();

  /* Using custom settings */
  $("a#inline").fancybox({
    'hideOnContentClick': true
  });

  /* Apply fancybox to multiple items */
  $("a.group").fancybox({
    'transitionIn':'elastic',
    'transitionOut':'elastic',
    'speedIn':600, 
    'speedOut':200, 
    'overlayShow':false
  });

  /* turn on player */
  $('video,audio').mediaelementplayer({
    // initial volume when the player starts
    startVolume: 0.8,
    // useful for <audio> player loops
    loop: false,
    // the order of controls you want on the control bar (and other plugins below)
    features: ['playpause','progress','current','duration'],
    alwaysShowHours: false,
    // used when showTimecodeFrameCount is set to true
    framesPerSecond: 25,
    // turns keyboard support on and off for this instance
    enableKeyboard: true,
    // when this player starts, it will pause other players
    pauseOtherPlayers: true,
    // array of keyboard commands
    keyActions: []
   });

});
</script>
