<% if defined? @adminindex -%>
<h1>Admin: All files, all accounts</h1>
<% else -%>
<h1>Files in Your Account</h1>
<% end -%>
<P>
</P>
<TABLE>
<%= render(@assets) || render("nofiles") %>
</TABLE>

<script>
$(document).ready(function() {
  /* This is basic - uses default settings */
  $("a#single_image").fancybox();

  /* Using custom settings */
  $("a#inline").fancybox({
    'hideOnContentClick': true
  });

  /* Apply fancybox to multiple items */
  $("a.group").fancybox({
    'transitionIn':'elastic',
    'transitionOut':'elastic',
    'speedIn':600, 
    'speedOut':200, 
    'overlayShow':false
  });

});
</script>
