<link href="/assets/bootstrap.icon-large.min.css" rel="stylesheet">
<P ALIGN=CENTER>
  <img src="/assets/bhof/bhof-logo-140px11-black.png"><BR>
  <STRONG>2015 Application System</STRONG>
</P>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Welcome to the BHOF 2015 Application System.</strong></div>
  <div class="panel-body">
  If you are a Legend and you wish to perform: you don't need to use
  the application. Just email the Legends Team at
  <a href="mailto:legends@burlesquehall.com">legends@burlesquehall.com</a> with your request.
  </div>
  </div>
  <P ALIGN="center">
  <strong>FAQs and Information</strong><BR>
  <a id="iframe1" href="/bhof/rules" target="_blank">Full Rules</a><BR>
  <a id="iframe2" href="/bhof/judging_criteria" target="_blank">Judging Criteria</a><BR>
  <a id="iframe3" href="http://blog.bhofapplication.com/behind-the-scenes-the-competition-selection-process" target="_blank">How the selection process works</a>
  </p>

<P><strong>Dates to Remember:</strong></p>

<table data-toggle="table" data-url="data1.json" data-cache="false" class="table">
    <thead>
        <tr>
            <th data-field="date">Date</th>
            <th data-field="what">Event</th>
        </tr>
    </thead>
    <TR>
      <TD>Jan 19th, 2015</TD><TD>Application Deadline</TD>
    </TR>
    <TR>
      <TD>March 2015</TD><TD>Application Notifications</TD>
    </TR>
    <TR>
      <TD>March 2015</TD><TD>Weekend Passes go on sale</TD>
    </TR>
    <TR>
      <TD>April 2015</TD><TD>Tickets go on sale</TD>
    </TR>
    <TR>
      <TD>May 1, 2015</TD><TD>Hotel group rate expires</TD>
    </TR>
    <TR>
      <TD>June 4-7, 2015</TD><TD>2015 Weekender</TD>
    </TR>
   </table>
</div>

 <% if current_user -%>
  <p align="center">
  <a class="btn btn-success" href="/bhof/page1">I understand. Take me to the next page.</a>
  </p>
  <% else -%>
  <p align="center">
  <strong>Next, you will create a troupeIT account so that you can begin your application. </strong> This is a new application system so if you've signed up before (2014 or earlier), you'll need to register again.
  </p>
  <p align="center">
  <a class="btn btn-success" href="/bhof/page1">I understand. Take me to sign up so I can create an account.</a>
  </p>
 <% end -%>

